body {
	padding: 10px;
	font: 12px/1.9 "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #333;	
}

#menu {
	list-style-type: none;
	margin: 0px 10px 0px -5px;
	padding: 0px;
	height: 16px;
}
#menu li {
	float: left;
	margin: 0px 5px;
}

h3 {
	clear: both;
}

a {
	text-decoration: none;
	color: #008bcc;
}

a:hover {
	color: #21a1ef;
}